.background-img {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 33%;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height:;
    justify-content: space-between;
    background-color:aliceblue;
}

body {
    margin: auto;
    padding: 6rem 1.2rem 1.2rem 1.2rem;
    text-align: center;
}

@media (max-width: 500px) {
    body {
        flex-wrap: wrap;
    }
}

#form-header {
    margin: auto;
    padding: 3rem;
    width: 366px;
}

#form {
    margin: auto;
    padding: 3rem;
    justify-content: center;
}

#capabilities {
    margin: auto;
    text-align: left;
    width: 566px;
    justify-content: center;
}

.pricing-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#option-one #option-two #option-three {
    margin: auto;
    
}

#pricing-header {
    text-align: center;
}

